:focus {
  outline: none;
  border-color: #2188ff;
  box-shadow: 0 0 0 0.2em #c8e1ff;
}
[tabindex="-1"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

label {
  cursor: pointer;
  display: block;
  margin-bottom: 0.25rem
}

h4 {
  margin: 0 0 0.5rem 0;
}

.content {
  display: flex;
}

.field {
  margin-bottom: 1.5rem;
}

.column {
  padding: 1rem;
  flex: 1;
}
